h1{
  color: lightpink;
  text-align: left;
  margin-left: 100px;
  font-family: Arial;
}
#paragraphz {
  font-family: Arial;
  margin-left: 20%;
}

.border{
  border-style: solid;
  border-width: 1px;
}

p {
    text-indent: 30px;
}
